# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Application Data (Database and Uploads)
data/
*.db
*.sqlite
*.sqlite3

# OS specific
.DS_Store
Thumbs.db

# Config files (if you want to ignore actual config but keep example)
config.toml
config-preview.toml
